<app-cover-image></app-cover-image>
<h1>Here is why students trust us with their papers</h1>
<div class="row">
  <div class="col" *ngFor="let data of inputData">
    <app-card [data]="data"></app-card>
  </div>
</div>
<h1>Essay writing services we offer</h1>
<div class="row">
  <div class="col" *ngFor="let data of inputDataSlide; let i= index">
    <app-card [data]="data" [index]="i" ></app-card>
  </div>
</div>
 <app-freq-question></app-freq-question>
<h1>Essay writing services we offer</h1>
<app-custom-essay></app-custom-essay>
