<app-cover-image></app-cover-image>
<div class="row">
  <div class="col">
    <div class="card">
      <h3 class="heading">Card 1</h3>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h3 class="heading">Card 2</h3>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h3 class="heading">Card 3</h3>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h3 class="heading">Card 4</h3>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</div>

