.row {
  display: flex;
  flex-wrap: wrap;
  justify-content:start;
  gap: 8.5%;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;

  .col {
    width: calc(26% - 10px);
    margin-bottom: 20px;

    &:nth-child(odd) {
      // margin-right: 20px;
    }
  }

  @media only screen and (max-width: 767px) {
    .col {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
