<div class="container">
  <div class="nav-header">
    <img  src="assets/images/MyLogoHere.svg">
    <nav>
      <ul>
        <li *ngFor="let nav of navLinks"><a href="#">{{nav.text}}</a></li>
      </ul>
    </nav>
  </div>

  <div class="content">
    <h1>Essay Blues? We sing a different tune and write it for you.</h1>
    <button class="btn btn-md btn-primary">Order Now</button>
    <div class="row">
      <div class="col" *ngFor="let item of items">
        <div class="content1">
          <div class="content1-col">
            <div class="round-icon">
              <img [src]="item.icon"/>
            </div>
          </div>
          <div class="content1-col">
            <h1 class="heading">{{item.heading}}</h1>
            <p class="text">{{item.text}} </p>
          </div>
        </div>
      </div>
    </div>

      </div>
</div>
