<div class="container">
  <div class="nav-header">
    <h1>
      My Logo Here
    </h1>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>

  <div class="content">
    <h1>Essay Blues? We sing a different tune and write it for you.</h1>
    <button>Order Now</button>
    <div class="row">
      <div class="col">
        <div class="content1">
          <div class="content1-col">
            <div class="round-icon">
              <img src="../../../assets/images/pencil.svg"/>
            </div>
          </div>
          <div class="content1-col">
            <h3 class="heading">250+</h3>
            <p class="text"> Academic Writing Experts</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="content1">
          <div class="content1-col">
            <div class="round-icon">
              <img src="../../../assets/images/pencil.svg"/>
            </div>
          </div>
          <div class="content1-col">
            <h3 class="heading">250+</h3>
            <p class="text"> Academic Writing Experts</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="content1">
          <div class="content1-col">
            <div class="round-icon">
              <img src="../../../assets/images/pencil.svg"/>
            </div>
          </div>
          <div class="content1-col">
            <h3 class="heading">250+</h3>
            <p class="text"> Academic Writing Experts</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="content1">
          <div class="content1-col">
            <div class="round-icon">
              <img src="../../../assets/images/pencil.svg"/>
            </div>
          </div>
          <div class="content1-col">
            <h3 class="heading">250+</h3>
            <p class="text"> Academic Writing Experts</p>
          </div>
        </div>
      </div>
    </div>

      </div>
</div>
