<div class="container">
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="content">
    <h1>Essay Blues? We sing a different tune and write it for you.</h1>
    <button>Order Now</button>
    <div class="row">
      <div class="col">
        <div class="round-icon">
          <img src="../../../assets/images/pencil.svg"/>
        </div>
      </div>
      <div class="col">
        <h3 class="heading">250+</h3>
        <p class="text"> Academic Writing Experts</p>
      </div>
    </div>
      </div>
</div>
