@import "/src/assets/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  // height: 100vh;
  background-image: url("../../../../assets/images/blue\ girl\ 4.jpg");
  background-size: cover;
  padding: 40px;
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    img {
      margin: 0% 3%;
    }

    nav {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin: 0 10px;

          a {
            color: $dim-gray-color;
            text-decoration: none;
            font-size: 20px;
            &:hover {
              color: $secondary-color;
            }
          }
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 40px;
    h1 {
      color: white;
      font-size: 50px;
      margin-bottom: 20px;
      text-align: left;
      width: 60%;
    }
    button{
      border: none;
    }
    p {
      color: white;
      font-size: 20px;
      margin-bottom: 30px;
    }
    .heading {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .text {
      font-size: 20px;
      color: $secondary-color;
      text-align: start;
      line-height: 1.5;
      max-width: 500px;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      width: 60%;

      .col {
        width: calc(50% - 10px);
        margin-bottom: 20px;
      }

      .content1 {
        display: flex;
        flex-direction: row;
        gap: 15px;
        &-col {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .heading {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 5px;
          }

          .text {
            font-size: 15px;
            color: $secondary-color;
            text-align: start;
            line-height: 1.5;
            max-width: 500px;
            margin-top: 0;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .container {
    height: auto;
    background-size: contain;
    background-position: center;
    background-size: cover;
    background-position: 100% 100%;
    .nav-header {
      flex-direction: column;
      nav {
        margin-top: 10px;
        justify-content: center;
      }
    }
    .content {
      padding: 30px;

      h1 {
        width: 100%;
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
      }

      button {
        margin: 20px 0;
        width: 100%;
      }

      p {
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
      }
      .row {
        width: 100%;
        flex-direction: column;
        .col {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
          flex-direction: column;
        }
      }
    }
  }
}
@media only screen and (max-width: 468px) {
  .container {

      ul {
        flex-direction: column;
        gap: 10px;
        li{
          text-align: center;
        }
      }
    .content {
      padding: 30px;

      h1 {
        width: 100%;
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
      }

      button {
        margin: 20px 0;
        width: 100%;
      }

      p {
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
      }
      .row {
        width: 100%;
        flex-direction: column;
        .col {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
          flex-direction: column;
        }
      }
    }
  }
}
