<header class="header">
  <div class="header-items">
    <div class="header-item">
      <img class="" src="assets/images/clock.svg"/>
      <span>24/7 Always Open</span>
    </div>
    <div class="header-item">
      <img class="" src="assets/images/tele.svg"/>
      <span>(+1) 888 687 4420</span>
    </div>
    <div class="header-item">
      <img class="" src="assets/images/email.svg"/>

      <span>info@dummywebsite.com</span>
    </div>
  </div>
  <div class="header-buttons">
    <button class="btn btn-sm btn-primary">Sign In</button>
    <button class="btn btn-sm btn-secondary">Sign Up</button>
  </div>
</header>
