$primary-color: #117BD4;
$secondary-color: #fff;

$main_bg: #F5F5F5;
$secondary-bg:#F7F8FC;

$success-color: #13AD35;
$warning-color: #ffc107;
$danger-color: #DF4D4D;
$red-color: #ff0000;
$dim-gray-color:#DBDBDB;
$brdrLeft-shadow:rgba(1, 58, 101, 0.4);

$dark-txtClr:#11142D;
$light-txtClr:#9A9AB0;

$base-color: #F5F5F5;
$outline-color: #e3e3e3;
$dim-color: #DADCE0;

$primary-font: "gothammedium";
$secondary-font: "Arial";
$roboto-font: "roboto";
