<div class="container">
  <div class="left-column">
    <p>Follow the steps to place your order!</p>
    <h2>Calculate Price</h2>
    <div class="card">
      <div class="sub-container">
        <form [formGroup]="form">
          <label for="email">Email Address<span>*</span></label>
          <div class="input-with-icon">
            <input
              type="email"
              placeholder="abc@gmail.com"
              formControlName="email"
              id="email"
              name="email"
              [ngClass]="validationClass('email')"
            />

            <img
              *ngIf="validationClass('email') == 'is-valid'"
              class="icon"
              src="assets/images/success.svg"
            />
          </div>
          <br />
          <label for="email">Phone Number<span>*</span></label>

          <div class="select-field">
            <select class="flag-select">
              <option value="us" selected></option>
            </select>

            <input
              type="tel"
              [ngClass]="validationClass('phone')"
              name="phone"
              id="phone"
              formControlName="phone"
              placeholder="Enter phone number"
            />
          </div>
          <br />
        </form>
        <p>
          We hate spam as much as you do. We will Never sell, rent or share your
          email address and phone number.
        </p>
      </div>
      <button class="btn btn-md btn-primary" (click)="pay()">Pay Now</button>
    </div>
  </div>

  <div class="right-column">
    <div class="card">
      <app-bill [paymentDetail]="paymentDetail"></app-bill>
    </div>
  </div>
</div>
