
<div class="container">
  <h1 class="heading">Frequently asked questions</h1>
  <div class="sub-container">
    <div class="content">
      <div class="bar"></div>
      <p class="text">Some text</p>
      <div class="arrow"></div>
    </div>
  </div>
  <div class="sub-container">
    <div class="content">
      <div class="bar"></div>
      <p class="text">I need someone to write my essay for me, who can help me?</p>
      <div class="arrow"></div>
    </div>
  </div>
  <div class="sub-container">
    <div class="content">
      <div class="bar"></div>
      <p class="text">Some text</p>
      <div class="arrow"></div>
    </div>
  </div>
</div>
