<div class="card">
  <h2 class="card__heading">Summary</h2>
  <div class="card__row">
    <div class="card__label">Sub-Total:</div>
    <div class="card__value">$30</div>
  </div>
  <div class="card__row">
    <div class="card__labelS">You save $20</div>
  </div>
  <hr/>
  <div class="card__checkbox">
    <input type="checkbox" id="agree">
    <label for="agree"> <b>
      Prepay 50%
    </b></label>
  </div>
  <div class="card__row total">
    <div class="card__label">Total:</div>
    <div class="card__value">$80.00</div>
  </div>
  <div class="card__radio">
    <input type="radio" id="agree">
    <label for="agree">I agree with <a>Policies </a>and <a>Terms and Conditions</a></label>
  </div>
  <div class="card__row__payment">
   <h2>Payment Method</h2>
   <div class="card">
    <div class="card_pay">
      <img src="assets/images/payment-active.svg">
      <p>Pay with Card</p>
    </div>
    <div class="card_wallet">
      <img src="assets/images/payment.svg">
      <p>Pay with Wallet</p>
    </div>
  </div>

  </div>
  <button class="btn btn-md btn-primary">Proceed to Payment</button>
</div>
