@import "/src/assets/variables.scss";

.card {
  box-shadow: 0px 4px 10px -6px rgba(31, 27, 45, 0.2),
    0px 8px 25px rgba(31, 27, 45, 0.16);
  border-radius: 8px;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px 20px;

    &__payment {
      .card {
        background-color: $gray-bg;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        margin: 20px;
        overflow: hidden;

        &_pay {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px;
          background-color: $secondary-color;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
          cursor: pointer;
          p {
            font-size: 1.2em;
            text-align: center;
            color: $primary-color;
          }
        }

        &_wallet {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px;
          cursor: pointer;
          p {
            font-size: 1.2em;
            text-align: center;
          }
        }
      }
    }
  }
  .total {
    background-color: $main_bg;
    padding: 20px;
  }
  &__label {
    font-weight: bold;
  }
  &__labelS {
    color: $success-color;
  }

  &__value {
    font-weight: bold;
    text-align: right;
  }
  a {
    text-decoration: underline;
    cursor: pointer;
    color: $primary-color;
  }
  &__checkbox {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;

    input[type="checkbox"] {
      margin-right: 10px;
    }
  }
  &__radio {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 0px 20px;
    input[type="radio"] {
      margin-right: 10px;
    }
  }
  hr{
    margin: 10px;
  }
  h2{
    padding: 15px 20px;
  }
  button {
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
  }
}
